div.ServiceButton {
  width: 290px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #fff;
  transition-property: background-color;
  transition-duration: .3s;
}

div.ServiceButton:hover {
  background-color: #616161;
}

div.ServiceButton:nth-of-type(n + 2) {
  margin-left: 10px;
}

a.ServiceButtonLink {
  font-weight: 700;
  text-decoration: none;
}

div.ServiceButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

div.ServiceButtonTitle {
  transition-property: color;
  transition-duration: .3s;
}

.ServiceButtonIcon {
  transition-property: color;
  transition-duration: .3s;
}
