div.ImaxMovie {
    overflow: hidden;
    margin: 0 auto;
    width: 60%;
}

div.ImaxMovieImgGroup::after {
    display: block;
    content: '';
    clear: both;
}

div.ImaxMovieImgWrap {
    float: left;
    transition-property: margin-left;
    transition-timing-function: ease;
    transition-duration: .6s;
}

img.ImaxMovieImg {
    width: 100%;
}
