div.ImaxTheater {
    padding: 64px 0 0 0;
}

div.ImaxIntroImgWrap {
    padding-bottom: 20px;
    text-align: center;
}

div.ImaxTheaterList {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
}

div.ImaxTheaterListItem {
    padding-bottom: 10px;
}

img.TheaterIntroImg {
    transition-property: opacity;
    transition-timing-function: ease();
    transition-duration: .3s;
}

img.TheaterIntroImg:hover {
    opacity: .6;
}

div.ImaxTheaterAbout {
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

a.ImaxTheaterAboutTitle {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}
