div.ImaxMovieWrap {
    position: relative;
}

div.ImaxMovie {
    overflow: hidden;
    margin: 0 auto;
    width: 60%;
}

div.ImaxMovieImgGroup::after {
    display: block;
    content: '';
    clear: both;
}

div.ImaxMovieLeft {
    position: absolute;
    top: 0;
    background-color: aquamarine;
    width: 30px;
    height: 100%;
}

div.ImaxMovieImgWrap {
    float: left;
    transition-property: margin-left;
    transition-timing-function: ease;
    transition-duration: .6s;
}

img.ImaxMovieImg {
    width: 100%;
}

div.ImaxMovieRight {
    position: absolute;
    top: 0;
    background-color: blueviolet;
    width: 30px;
    height: 100%;
}
