div.ImaxInfoText {
    margin: 40px auto 0 auto;
    max-width: 940px;
}

div.ImaxInfoTextHeader {
    padding: 10px 0;
    color: #fff;
    background-color: #0d5b88;
    font-family: 'M PLUS 1p';
    font-size: 38px;
    font-weight: 400;
    text-align: center;
}

div.ImaxInfoTextBody {
    padding: 55px 30px;
    color: #fff;
    background-color: #020925;
    font-size: 28px;
    font-family: 'M PLUS 1p';
    font-weight: 300;
    letter-spacing: -0.025em;
}
