.MenuItemALink {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

.MenuItemALink:hover {
    opacity: .4;
}

.MenuItemAIcon {
    margin: 20px;
    font-size: 25px;
    font-style: normal;
}
