div.TheaterHeader {
    padding: 10px;
    cursor: pointer;
}

div.TheaterHeader:hover {
    opacity: .6;
}

div.TheaterHeaderTitle {
    font-weight: 700;
}

div.TheaterHeaderSub {
    color: #616161;
    font-size: 12px;
    font-weight: 400;
}
