div.TheaterTop {
    width: calc(100% - 200px);
    margin: 0 auto;
}

div.TheaterInfo {
    margin-top: 40px;
    text-align: center;
}

div.TheaterInfo a {
    text-decoration: none;
    color: #0d47a1;
    transition-property: color;
    transition-duration: .3s;
}

div.TheaterInfo a:hover {
    color: #b71c1c;
}
