div.TheaterPrefecture {
    padding: 20px 10px;
    border-top: 1px solid #dcdcdc;
}

div.TheaterPrefectureName {
    color: #616161;
    font-weight: 700;
}

div.TheaterPrefectureSub {
    color: #616161;
    font-size: 8px;
    font-weight: 400;
}
