div.Theater {
    margin-top: 20px;
}

a.TheaterLink {
    text-decoration: none;
    color:#0d47a1;
    transition-property: color,opacity;
    transition-timing-function: ease;
    transition-duration: .3s;
}

a.TheaterLink:hover {
    color: #b71c1c;
    opacity: .6;
}

div.TheaterName {
    font-weight: 700;
}

div.TheaterSub {
    margin-top: 3px;
    font-size: 8px;
    font-weight: 400;
}

div.TheaterTypeGroup {
    display: flex;
}

div.TheaterType {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 2px 6px;
    border: 1px solid #0d47a1;
    border-radius: 3px;
}

div.TheaterType:nth-of-type(n+2) {
    margin-left: 5px;
}

.TheaterTypeIcon {
    margin-right: 3px;
    color: #0d47a1;
    font-size: 12px;
}

div.TheaterTypeName {
    color: #0d47a1;
    font-size: 12px;
    font-weight: 700;
}
